<div class="login">
  <h3>Welcome Back</h3>
  <form action="" [formGroup]="loginForm">
    <input type="email" placeholder="Email" formControlName="email">
    <small *ngIf="loginForm.controls['email'].dirty  && loginForm.hasError('required', 'email')"
      style="color: red;">*Email is required</small>
    <input type="password" placeholder="Password" formControlName="password">
    <small *ngIf="loginForm.controls['password'].dirty  && loginForm.hasError('required', 'password')"
      style="color: red;">*Password is required</small>

    <button type="submit" (click)=onLogin()>Log in</button>

    <div>

      <asl-google-signin-button class="googlbtn" theme="filled_blue" type="icon" shape="circle"
        size="large"></asl-google-signin-button>

    </div>

    <p>Don't have an account ? <span><a [routerLink]="['/register']">Sign up</a></span></p>
  </form>
</div>