body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

li {
    list-style: none;
}

.sentClass {
    background-color: blanchedalmond;
    align-self: flex-end;
    margin-right: 10px;
}

.receivedClass {
    background-color: beige;
    align-self: flex-start;
    margin-left: 10px;
}

.messages {

    margin: 10px;
}

.message-block {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
    width: 300px;
}

.user-chat {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    height: 450px;
    overflow-y: scroll;
}

.message-box {
    position: fixed;
    /* bottom: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(58, 58, 58);
}

.message-box-container {
    position: fixed;
    bottom: 30px;
    display: flex;
    margin-left: -10px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.message-box-container:focus{
    border: 1px solid white;
}

.input-container {
    flex-grow: 1;
}

.input-file {
    display: flex;
    flex-direction: column;
}

.input {
    width: 850px;
    height: 20px;
    padding: 5px;
    background-color: transparent;
    border: none;
    color: white;
}
.input:focus{
    border: none;
    outline: none;
}

.context-menu {
    position: fixed;
    background-color: white;
    z-index: 10;
    padding-left: -25px;
    width: 80px;
}

.option {
    padding: 5px;
}

.option:hover {
    cursor: pointer;
    background-color: rgb(170, 255, 242);
}



.sendButton {
    height: 30px;
    padding: 5px 25px;
    margin: 0px 5px;

}

.editInput {
    border-radius: 5px;
    width: 50%;
    outline: none;
}

.optionButton {
    background-color: black;
    color: white;
    border: none;
    outline: none;
    padding: 5px;
    margin: 0px 3px;
}

.no-conversation-message {
    color: blanchedalmond;
    font-size: 25px;
    text-align: center;
    margin-top: 100px;

}

.text-chat {
    display: flex;
    flex-direction: column;
}

.file-block {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
    width: 300px;
}

#attachButton {
    height: 30px;
    padding: 5px 25px;
    margin: 0px 5px;
}

.file-attach {
    display: none;
}

.selectedFile {
    /* position: fixed; */
    /* background-color: rgb(255, 165, 165); */
    border: 1px solid white;
    border-radius: 5px;
    width: fit-content;
    align-items: right;
    padding: 5px 20px;
    margin-top: 5px
}

.file-logos {
    width: 20px;
    height: 20px;
}

.title {
    display: flex;
    gap: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
}

.file {
    display: flex;
    gap: 10px;
}

.fa-regular {
    font-size: 20px;
    padding: 5px;
}

.caption {
    padding-top: 5px;
}

.fileName {
    color: white;
    text-align: right;
    font-size: 15px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}